@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  /* font-family: "Kanit", sans-serif; */
  font-family: "Inter", sans-serif;
  --merah: #e84a49;
  --dark: #212529;
  p,
  a,
  input,
  option {
    font-size: smaller;
    font-weight: 300;
  }
}

/* ESSENSIAL */
.show-flex-ke-hide {
  display: flex;
}
.show-block-ke-hide {
  display: block;
}
.hide-ke-show-flex {
  display: none;
}
.hide-ke-show-block {
  display: none;
}
.limapuluh-ke-seratus {
  width: 50%;
}
.garis {
  display: block;
  height: 2px;
  background-color: whitesmoke;
}
.material-icons,
.material-symbols-outlined {
  display: block;
  margin: 0;
  font-size: large;
}
.teks-besar {
  font-weight: 600;
  font-size: 70px;
  letter-spacing: -5px;
  margin: 0;
}
.teks-sedang {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}

.list-nav {
  flex: 1;
  cursor: default;
}
.child-list-nav {
  height: 0;
  overflow-y: hidden;
  background-color: whitesmoke;
  z-index: 3;
  position: absolute;
  left: 0;
  width: 100%;
  transition: 0.3s;
}
.child-list-nav a {
  font-size: 24px;
  margin: 0;
}
.bg-list-nav {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  top: 99.6px;
  width: 100%;
  height: calc(100vh - 99.6px);
  backdrop-filter: blur(0px);
  transition: 0.3s;
  display: none;
}
.list-nav:hover .child-list-nav {
  height: 455px;
  transition: 0.3s;
}

.list-nav:hover ~ .bg-list-nav {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.container-produk-nav img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}
.container-produk-nav {
  color: black;
  text-decoration: none;
}
.container-produk-nav h5 {
  font-weight: 700;
  font-size: 15px;
  width: 80%;
}
.container-produk-nav p {
  font-size: 12px;
  width: 80%;
}

.img-besar {
  width: 100%;
  height: calc(100vh - 99.6px);
  object-fit: cover;
}
.img-teks {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3em;
}
.img-teks h1 {
  font-family: "Inter", 700;
}
.img-teks .anak-img-teks a {
  text-decoration: none;
  font-size: medium;
  color: var(--merah);
}
.img-teks .anak-img-teks a:hover {
  text-decoration: underline;
}

.img-kategori {
  width: calc(100vw / 3);
  aspect-ratio: 2 / 3;
  border-radius: 2em;
  overflow: hidden;
}

.img-kategori img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-besar {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 2em;
}

/*FOOTER*/
.footer-div {
  flex: 2;
  color: whitesmoke;
}
/*END FOOTER*/

/*EKTERNAL ELEMENT */
.input {
  max-width: 190px;
  height: 30px;
  border: 2px solid transparent;
  outline: none;
  border-bottom: 2px solid #3f3f3f;
  caret-color: #3f3f3f;
  background-color: black;
  padding: 5px;
  transition: 0.5s linear;
  letter-spacing: 1px;
}

.input:focus {
  border-bottom: 2px solid var(--merah);
  caret-color: var(--merah);
  text-transform: capitalize;
  color: whitesmoke;
  box-shadow: 4px 4px 10px #070707;
}

.input:focus::placeholder {
  color: var(--merah);
}
/*END EKTERNAL ELEMENT*/

@media (max-width: 600px) {
  /* ESSENSIAL */
  .hide-ke-show-flex {
    display: flex;
  }
  .hide-ke-show-block {
    display: block;
  }
  .show-block-ke-hide {
    display: none;
  }
  .show-flex-ke-hide {
    display: none;
  }
  .limapuluh-ke-seratus {
    width: 100%;
  }
}
